// Monfika Colors

// Green: Strings
$color0: #fcd75e;
//Pink: Logic Control
$color1: #ff6188;
//Light Purple: Language access like module.exports,
$color2: #f48e5d;
//Light Purple: Language access like module.exports,
$color3: #7dbcfa;
// Blue: Functions , Method definitions, Function
$color4: #a9dc76;
// Orange: Variable assignments keywords,
$color5: #79dbe6;
// Light Pink: Object access, Keywords, Storage Ini
$color6: #9f90ed;
//Coments
$color7: #7387a0;
// TExt General
$text: #e9e9e9;
